{% import './_macros.css' %}

{###########################################################################}
{############################   1. Variables   #############################}
{###########################################################################}

/* 1a. Containers */

{% set container_width = '1300px' %}
{% set dnd_section_padding = '50px 15px' %}


{% set dnd_section_padding_responsive = '25px' %}
{% set system_padding = '50px' %}

/* 1b. Colors */

{% set primary_color = '#6EBAE7'  %}
{% set secondary_color = '#d9534f' %}

/* 1c. Typography */

{# {% set primary_font = theme.global_fonts.primary %}
{% set secondary_font = theme.global_fonts.secondary %} #}

{% set h1_font_color = '#31343F' %}
{% set h1_font_size = '36px' %}
{% set h1_font_weight = '500' %}

{% set h2_font_color = '#31343F' %}
{% set h2_font_size = '30px' %}
{% set h2_font_weight = '700' %}

{% set h3_font_color = '#31343F' %}
{% set h3_font_size = '24px' %}
{% set h3_font_weight = '500' %}

{% set h4_font_color = '#31343F' %}
{% set h4_font_size = '20px' %}
{% set h4_font_weight = '500' %}

{% set h5_font_color = '#31343F' %}
{% set h5_font_size = '18px' %}
{% set h5_font_weight = '500' %}

{% set h6_font_color = '#31343F' %}
{% set h6_font_size = '16px' %}
{% set h6_font_weight = '500' %}

{% set body_font_color = '#31343F' %}
{% set body_font_size = '16px' %}

{% set anchor_font_color = '#6EBAE7' %}
{% set anchor_font_size = '16px' %}

/* 1d. Buttons */

{% set button_border_radius = '12px' %}
{% set button_font_size = '15px' %}
{% set button_min_width = '250px' %}
{% set button_font_weight = '400' %}
{% set button_padding = '10px 25px' %}
{% set button_font_color = '#fff' %}

{% set primary_button_hover_color = '#42a5e0' %}
{% set secondary_button_hover_color = '#c9302c' %}
/* 1e. Forms */

{% set form_field_placeholder_color = '#9A9A9A' %}
{% set form_field_font_color = '#555555' %}
{% set form_field_bg_color = '#ffffff' %}
{% set form_field_border = '1px solid #cccccc' %}
{% set form_field_corner_radius = '12px' %}
{% set form_font_size = '14px' %}

{% set form_button_text_color = '#ffffff' %}
{% set form_button_bg_color = '#6ebae7' %}

{% set form_checkbox_fill_color = '#6ebae7' %}
{% set form_checkbox_border_color = '1px solid #ddd' %}

/* 1g. Website header */

{% set header_bg_color = 'transparent' %}

.page-editor .header{
  position: relative;
}

.header {
  position: fixed;
  padding: 30px 0;
  width:100%;
  z-index: 1;
}

header.sticky {
    background: white;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
    z-index: 1;
}

header .header-wrapper {
    padding: 0px;
}

/* 1h. Website footer */

{% set footer_font_color = '13px' %}
{% set footer_bg_color = '#6ebae7b3' %}
{% set footer_font_color = '#ffffff' %}

{###########################################################################}
{##################   2. Containers / Grid / DND areas   ###################}
{###########################################################################}

.content-wrapper .blog-post {
  max-width: {{ container_width }};
  margin-left:auto;
  margin-right:auto;
}

.dnd-section,
.content-wrapper--vertical-spacing {
  padding: {{ dnd_section_padding }};
}

@media(max-width:767px){
    .dnd-section,
  .content-wrapper--vertical-spacing {
    padding: calc( {{ dnd_section_padding_responsive }} * 0.625 ) 1rem;
  }
}

.dnd-section > .row-fluid {
  max-width: {{ container_width }};
  margin-left:auto;
  margin-right:auto;
}

{###########################################################################}
{###########################   3. Typography   #############################}
{###########################################################################}

html {
  font-size: {{ body_font.size ~ body_font.size_unit }};
}

body {
  color: {{ body_font_color }};
  font-size: {{ body_font_size }};
  font-family: 'Nunito', sans-serif;
}
.stroke-body{
  stroke: {{ body_font.color }};
}
/* Paragraphs */

p {
  {{ body_font.style }};
}

/* Anchors */

a {
  color: {{ primary_color }};
  text-decoration: none;
}

a:active {
  {{ anchor_font.style }};
  color: {{ color_variant(anchor_font.color, 40) }};
}

/* Headings */

h1, .h1 {
  color: {{ h1_font_color }};
  font-size: {{ h1_font_size }};
  font-weight: {{ h1_font_weight }};
}

h2, .h2 {
  color: {{ h2_font_color }};
  font-size: {{ h2_font_size }};
  font-weight: {{ h2_font_weight }};
}

h3, .h3 {
  color: {{ h3_font_color }};
  font-size: {{ h3_font_size }};
  font-weight: {{ h3_font_weight }};
}
h4, .h4 {
  color: {{ h4_font_color }};
  font-size: {{ h4_font_size }};
  font-weight: {{ h4_font_weight }};
}

h5, .h5 {
  color: {{ h5_font_color }};
  font-size: {{ h5_font_size }};
  font-weight: {{ h5_font_weight }};
}
h6, .h6 {
  color: {{ h6_font_color }};
  font-size: {{ h6_font_size }};
  font-weight: {{ h6_font_weight }};
}

h1, h2, h3, h4, h5, h6{
  line-height: calc(100% + .75rem);
  margin-bottom: 0.75rem;
}

/* Responsive Typography */
@media (max-width:1024px){
  h1{
    font-size:30px
  }
}
@media (max-width:1024px){
  h2{
    font-size: 23px;
  }
}
@media (max-width:1024px){
  h3{
    font-size: 20px;
  }
}
@media (max-width:1024px){
  h4{
    font-size: 18px;
  }
}
@media (max-width:1024px){
  h5{
    font-size: 16px;
  }
}
@media (max-width:1024px){
  h6{
    font-size: 14px;
  }
}
/* Blockquote */

blockquote {
  border-left-color: {{ primary_color }};
}

b{
  color:{{ primary_color }} !important;
}

/* White Typography */

.typo-white h1, .typo-white h2, .typo-white h3, .typo-white h4, .typo-white h5, .typo-white h6, .typo-white p{
  color: white;
}

{###########################################################################}
{############################   4. Buttons   ###############################}
{###########################################################################}

a.button-primary{
  display:inline-block;
  text-align:center;
  text-decoration: none;
  min-width: {{ button_min_width }};
  border: 1px solid {{ primary_color }};
  font-weight: {{ button_font_weight }};
  background-color: {{ primary_color }};
  padding: {{ button_padding }};
  border-radius: {{ button_border_radius }};
  font-size: {{ button_font_size }};
  color: {{ button_font_color }};
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  user-select: none;
}
a.button-primary:hover,
a.button-primary:focus {
  border: 1px solid {{ primary_button_hover_color }};
  background-color : {{ primary_button_hover_color }};
}

a.button-primary-outline {
  display:inline-block;
  text-align:center;
  text-decoration: none;
  min-width: {{ button_min_width }};
  border: 1px solid {{ primary_color }};
  font-weight: {{ button_font_weight }};
  background-color: transparent;
  padding: {{ button_padding }};
  border-radius: {{ button_border_radius }};
  font-size: {{ button_font_size }};
  color: {{ primary_color }};
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  user-select: none;
}

a.button-primary-outline:hover,
a.button-primary-outline:focus {
  border: 1px solid {{ primary_color }};
  background-color : {{ primary_color }};
  color: {{ button_font_color }};
}

a.button-secondary{
  display:inline-block;
  text-align:center;
  text-decoration: none;
  min-width: {{ button_min_width }};
  border: 1px solid {{ secondary_color }};
  font-weight: {{ button_font_weight }};
  background-color: {{ secondary_color }};
  padding: {{ button_padding }};
  border-radius: {{ button_border_radius }};
  font-size: {{ button_font_size }};
  color: {{ button_font_color }};
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  user-select: none;
}
a.button-secondary:hover,
a.button-secondary:focus {
  border: 1px solid {{ secondary_button_hover_color }};
  background-color : {{ secondary_button_hover_color }};
}
a.button-white-outline {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 10px 25px;
    font-size: 15px;
    line-height: 1.42857;
    border-radius: 4px;
    user-select: none;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
a.button-white-outline:hover,
a.button-white-outline:focus {
  background: #ffffff;
  color: black;
}
{###########################################################################}
{##############################   5. Forms   ###############################}
{###########################################################################}

form,
.submitted-message {
  {{ body_font.style }};
}

/* Form title */

.form-title {
  color: {{ form_title_font_color }} !important;
}

/* Labels */

form label {
  color: {{ form_label_font_color }};
}

/* Help text */

form legend {
  color: {{ form_help_text_font_color }};
}

/* Inputs */
form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {  
  height:48px;
  padding: 14px;
  width: 100%;
  font-size: {{ form_font_size }};
  border: {{ form_field_border }};
  background-color: {{ form_field_bg_color }};
  color: {{ form_field_font_color }};
  border-radius: {{ form_field_corner_radius }};
}

form textarea{
  padding: 14px;
  border-radius: {{ form_field_corner_radius }};
  min-height: 100px;
  width: 100%;
  {{ form_input_border }}
  background-color: {{ form_field_bg_color }};
  color: {{ form_field_font_color }};
}

/* Checkbox */
.hs-form .hs-form-checkbox-display input + span:before, .hs-form .hs-form-checkbox-display input + span:after {
  border: {{ form_checkbox_border_color }};
}
.hs-form .hs-form-booleancheckbox-display .hs-input  a {
  color: {{ primary_color }};
}
.hs-form .hs-form-checkbox-display input + span:after {

  border: 1px solid {{ form_checkbox_fill_color }};
  background-color: {{ form_checkbox_fill_color }};
}

.hs-form .hs-form-radio-display input + span:before, .hs-form .hs-form-radio-display input + span:after {
  border: {{ form_checkbox_border_color }};
}

.hs-form .hs-form-radio-display input + span:after {
  border: 1px solid {{ form_checkbox_fill_color }};
  background-color: {{ primary_color }};
}

.hs-form .hs-form-booleancheckbox-display input + span:before, .hs-form .hs-form-booleancheckbox-display input + span:after {
  border: {{ form_checkbox_border_color }};
}

.hs-form .hs-form-booleancheckbox-display input + span:after {
  border: 1px solid {{ form_checkbox_fill_color }};
  background-color: {{ form_checkbox_fill_color }};
}

/* Form placeholder text */

::-webkit-input-placeholder {
  color: {{ form_field_placeholder_color }} !important;
}

::-moz-placeholder {
  color: {{ form_field_placeholder_color }} !important;
}

:-ms-input-placeholder {
  color: {{ form_field_placeholder_color }} !important;
}

::placeholder {
  color: {{ form_field_placeholder_color }} !important;
}

/* Inputs - date picker */

.hs-fieldtype-date .input .hs-dateinput:before {
  color: {{ form_field_placeholder_color }};
}

.fn-date-picker td.is-selected .pika-button {
  background: {{ primary_color }};
}

.fn-date-picker td .pika-button:hover {
  background-color: {{ primary_color }} !important;
}

.fn-date-picker td.is-today .pika-button {
  color: {{ primary_color }};
}

.hs-richtext, .hs-richtext p {
  color : {{ form_help_text_font_color }};
}

/* Submit button */

form input[type=submit],
form .hs-button {
  width: 100%;
  padding: {{ button_padding }};
  font-size: {{ button_font_size }};
  font-weight: {{ button_font_weight }};
  cursor: pointer;
  background-color : {{ form_button_bg_color }};
  color : {{ button_font_color }};
  border-radius: 8px;
  border: 1px solid {{ primary_color }};
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:active,
form .hs-button:hover,
form .hs-button:focus {
  background-color:{{ primary_button_hover_color }};
  border-color: {{ primary_button_hover_color }};
  color: {{ button_font_color }};
}

/* Invalid Value */
/* input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]), select.invalid{
  border-color:red !important;
} */
input[type="checkbox"].invalid,input[type="radio"].invalid,input[type="submit"].invalid,input[type="reset"].invalid,input[type="button"].invalid,
select.invalid{
  border-color:red;
}

{###########################################################################}
{###########################   7. Website header   #########################}
{###########################################################################}

.header {
  background-color: {{ header_bg_color }};
  font-family: {{ body_font.font }};
}
.header-border{
  border-bottom: 1px solid {{ top_header_color }};
}
.header .hs-menu-wrapper > ul li a {
  color : {{ nav_font_color }};
}
@media (min-width: 1280px){
.header .hs-menu-wrapper > ul ul {
  background: {{ nav_drop_down_bg_color }};
}
}
.header .hs-menu-wrapper > ul li a:hover{
  color : {{ primary_color }};
}
.header .header__container{
  max-width : {{ container_width }};
  margin-left:auto;
  margin-right:auto;
}
@media (max-width: 1279px){
.header .header-navigation li a {
    border-style: solid;
    border-color: {{ top_header_color }};
  }
}
@media ( max-width: 1279px ){
  .header .hs-menu-wrapper ul{
    background-color: {{ nav_drop_down_bg_color }}
  }
}
{###########################################################################}
{###########################   8. Website footer   #########################}
{###########################################################################}

.footer {
  font-size: 13px;
  background-color: {{ footer_bg_color }};
  padding: {{ dnd_section_padding }};
  font-weight: 500;
}
.footer a{
  color: {{ footer_font_color }};
  font-weight: inherit;
  text-decoration: none;
}
.footer-social-media-icon svg{
  fill: {{ footer_font_color }};
}
.footer a:hover{
  color: #000;
}
.footer .footer-container{
  max-width: {{ container_width }};
  margin-left:auto;
  margin-right:auto;
}

/* Footer content */

.footer p,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer label,
.footer span,
.footer li,
.footer img {
  color: {{ footer_font_color }};
}

/* System Template */  
.bg-text{
  color: {{ primary_color }};
  opacity:0.15;
}
.system-content{
   padding: {{ system_padding }} 0rem;
}
@media(max-width:767px){
  .system-content{
    padding: calc( {{ system_padding }} * 0.625 ) 0rem;
  }
}
.systems-pages.subscription-preference form .item{
  border-bottom: 1px solid {{ top_header_color }};
}
.systems-pages.subscription-preference form .page-header h2{
  color: {{ primary_color }};
}
.systems-pages.subscription-confirmation .page-header h2{
  color : {{ primary_color }};
}